#site-navigation {
    background-color: #f6f8fa;
}

#site-navigation nav ul.nav li a, #site-navigation nav ul.nav ul li a {
    color: #24292f;
}

#site-navigation nav ul.nav a:hover, #site-navigation nav ul.nav li.active>a, #site-navigation nav ul.nav li.active>a:hover {
    color: rgba(var(--pst-color-link), 1);
    text-decoration: none;
}

#site-navigation div.navbar_extra_footer {
    color: #24292f;
}

#site-navigation div.navbar_extra_footer a:hover {
    color: rgba(var(--pst-color-link), 1);
    text-decoration: none;
}

main.bd-content #main-content li p {
    margin-top: 0;
    margin-bottom: 0;
}

main.bd-content #main-content .prev-next-bottom {
    margin-top: 6em;
    margin-bottom: 1em;
}
